<div id="featured-container">
    <a class="featured-link" href="/Henrys">
        <div class="container featured" id="first-featured">
            <p>Henry's blog</p>
            <p class="featured-info">Topics: tech, star wars, life updates</p>
        </div>
    </a>
    <a class="featured-link" href="/louies">
        <div class="container featured">
            <p>Louie's blog</p>
            <p class="featured-info">Topics: being a dog, sleeping, smelling things</p>
        </div>
    </a>
    <a class="featured-link" href="/obiwans">
        <div class="container featured">
            <p>Obi-Wan's blog</p>
            <p class="featured-info">Topics: jedi stuff, saying "hello there", life updates</p>
        </div>
    </a>
</div>
