<div class=" login-signup-container">
    <div class="login-signup-background">
        <form class="login-form">
            <div class="input-block" id="password-email">
                <label for="email-login">email:</label>
                <input type="text" id="email-login" />
            </div>
            <div class="input-block">
                <label for="password-login">password:</label>
                <input type="password"/>
            </div>
            <div class="input-button">
                <button type="submit">login</button>
            </div>
        </form>
        <div class="login-or-signup">
            <p>
                Already have an account?<br>
                Login here!
            </p>
        </div>
    </div>
    <div class="login-signup-background">
        <form class="signup-form">
            <div class="input-block">
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div class="input-block">
                <label for="email-signup">email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div class="input-block">
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div class="input-button">
                <button type="submit">signup</button>
            </div>
        </form>
        <div class="login-or-signup">
            <p>
                Don't have an account yet?<br>
                Sign-up here!
            </p>
        </div>
    </div>
</div>